In [2]:
line = '1 2 3 4 5'
fields = line.split()
fields

['1', '2', '3', '4', '5']

In [3]:
total = 0
for field in fields:
    total += int(field)
total

15

In [4]:
numbers = [int(field) for field in fields]
numbers

[1, 2, 3, 4, 5]

In [5]:
sum(numbers)

15

In [6]:
sum([int(field) for field in line.split()])

15

# if

In [1]:
x = 0.5
if x > 0:
    print "Hey"
    print "x is positive"

Hey
x is positive

In [2]:
x = 1
if x > 0:
    print "x is positive"
elif x == 0:
    print "x is zero"
else:
    print "x is negative"

x is positive

In [4]:
year = 1900
if year % 400 == 0:
    print "This is a leap year"
elif year % 4 == 0 and year % 100 !=0:
     print "This is a leap year"
else:
    print "This is not a leap year"

This is not a leap year

In [9]:
mylist = [1,2,3]
if mylist:
    print "list is not empty"
if len(mylist) > 0:
    print "list len is ",len(mylist)
    
mylist = list()
if mylist:
    print "list is not empty"
else:
    print "list is empty"

list is not empty
list len is  3
list is empty

# while 循环

In [10]:
i = 0
total = 0
while i < 100000:
    total += i
    i += 1
print total

4999950000

In [11]:
plays = {'Hamlet','Macbeth','King Lear'}
while plays:
    play = plays.pop()
    print 'Perform',play

Perform King Lear
Perform Macbeth
Perform Hamlet

In [22]:
command_list = ['start', 
                'process', 
                'process',
                'process', 
                'stop', 
                'start', 
                'process', 
                'stop']
while command_list:
    command = command_list.pop(0)
    if command == 'stop':
        break
    print command

start
process
process
process

# for 循环

In [12]:
plays = set(['Hamlet','Macbeth','King Lear'])
for play in plays:
    print 'for perform',play

for perform King Lear
for perform Macbeth
for perform Hamlet

In [13]:
total = 0
# range 函数会一次性生成长度为100000的列表，在用这个列表进行遍历
for i in range(100000):
    total += i
print total

4999950000

In [14]:
total = 0
for i in xrange(1000000):
    total += i
print total

499999500000

In [20]:
%timeit for i in xrange(1000000): i=i
%timeit for i in range(1000000): i=i

100 loops, best of 3: 13 ms per loop
10 loops, best of 3: 28.1 ms per loop

In [21]:
values = [7,6,4,7,19,2,1]
for i in values:
    if i % 2 != 0:
        continue
    print i

6
4
2

In [25]:
# for..else语句，当for正常结束后会进入else。break不会进入else
values = [7,6,4,7,19,2,1]
for x in values:
    if x >= 20:
        print 'Found:',x
        break
else:
    print 'All values greater than 10'

All values greater than 10

# 列表推导式

In [26]:
values = [10,21,4,7,12]
squares = []
for x in values:
    squares.append(x**2)
print squares

[100, 441, 16, 49, 144]

In [27]:
squares = [i**2 for i in [10,21,4,7,12]]
print squares

[100, 441, 16, 49, 144]

In [29]:
values = [10,21,4,7,12]
# 先用if过滤列表，在调用i**2改变列表中的元素
squares = [i**2 for i in values if i <= 10]
print squares

[100, 16, 49]

In [30]:
sq_set = {i**2 for i in values}
print sq_set

set([16, 441, 144, 100, 49])

In [32]:
sq_dict = {i:i**2 for i in values}
print sq_dict

{12: 144, 10: 100, 4: 16, 21: 441, 7: 49}

In [34]:
total = sum([x**2 for x in values if x <=10 ])
total

165

In [36]:
total = sum(x**2 for x in values if x <= 10)
total

165