# 数字类型

## 整数

In [60]:
print 2+2

print 3-4

print 4*5

print 12/5

print 12.0/5

4
-1
20
2
2.4

In [27]:
# 幂指数，2的五次方
2**5

32

In [29]:
32%5

2

####  原地计算 In-place

In [74]:
b = 3
b+=2
print b
b *=2 
print b
b -=3
print b

5
10
7

In [30]:
type(32.0/5)

float

In [31]:
import sys

sys.maxint

2147483647

In [32]:
type(sys.maxint+1)

long

## 浮点数

In [34]:
3.4%2.1

1.2999999999999998

In [83]:
print 3.4-0.2

3.4-0.2

3.2

TypeError: object of type 'float' has no len()

In [37]:
'{:.52}'.format(3.4-0.2)

'3.199999999999999733546474089962430298328399658203125'

In [38]:
import sys

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [46]:
sys.float_info.max

1.7976931348623157e+308

#### 整除-> // ，返回比结果小的最大整数值

In [62]:

12.3 // 5.2

12.3 / -4

12.3 // -4

-4.0

## 复数 Complex Numbers

In [42]:
a = 1+2j
type(a)

complex

In [43]:
a.real

1.0

In [44]:
a.imag

2.0

In [45]:
a.conjugate()

(1-2j)

## 布尔类型 Boolean

In [77]:
q = True
p = False
print type(q)
print type(p)

<type 'bool'>
<type 'bool'>

In [80]:
print q > p
print q < p
print q >= p
print q <= p

True
False
True
False

In [81]:
print q == p
print q != p

False
True

####  链式比较

In [82]:
x = 2
1 < x <= 2

True

## 数字的其他表示方式

In [65]:
a = 1e-6
type(a)
print a

1e-06

In [68]:
 0xFF

255

In [72]:
# 八进制
0o67
067

55

In [73]:
# 二进制
0b11111111

255

## 内置数学函数

In [50]:
abs(-12.4)

12.4

In [58]:
print round(12.6)
print round(12.3)
print round(-12.6)
print round(-12.3)

13.0
12.0
-13.0
-12.0

In [55]:
print min(1,2,3,4)
print max(1,2,3,4)

1
4

In [57]:
print int(12.4)
print int(12.6)
print int(-3.14)
print int(-3.74)

12
12
-3
-3

In [59]:
print float(20)

20.0

# 字符串String

In [94]:
s = 'hello'
print s
s1 = "hello"
print s1
s2 = '''hell
o'''
print s2

hello
hello
hell
o

In [86]:
s + ' world'

'hello world'

In [87]:
print s
s += ' world'
print s

hello
hello world

In [89]:
s = 'hello'*3
s

'hellohellohello'

## 字符串api

In [ ]:
len(s)

In [92]:
lines = '1 2 3 4 5'
print lines.split()
lines = '1,'*5
print lines.split(',')

['1', '2', '3', '4', '5']
['1', '1', '1', '1', '1', '']

In [95]:
# join前的字符作为分隔符
s = ' '
print s.join(lines.split(','))
s = ','
print s.join(lines.split(','))

1 1 1 1 1
1,1,1,1,1,

In [98]:
s = 'hello world'
print s.replace('world','python2.7')
print s

hello python2.7
hello world

In [99]:
print s.upper()
print s.upper().lower()

HELLO WORLD
hello world

In [102]:
# strip去除左右两端的空格，l,r分别代表左边和后边
s = '  hello world   '
print s.strip()
print s.lstrip()
print s.rstrip()

hello world
hello world
  hello world

In [107]:
print str(1.1+2.2)
print repr(1.1+2.2)

3.3
3.3000000000000003

'3.3000000000000003'

In [112]:

# 将数字按照对应的进制转换为字符串
print 'convert number to str'
print hex(255)
print oct(255)
print bin(255)
print str(255)
print 'convert str to number'

# 将字符换按照对应的进制进行解释(第二个参数即当前字符串数字是什么进制表示的)，并转换为十进制
print int('11111111',2)
print int('FF',16)
print int('377',8)
print float('255')

convert number to str
0xff
0377
0b11111111
255
convert str to number
255
255
255
255.0

In [120]:
print '{} {} {}'.format('a','b','c')
print '{2} {1} {0}'.format('a','b','c')

print '{a} {c} {b}'.format(a='a',b='b',c='c')
# 混用的时候，索引必须从0开始
print '{c} {0} {b}'.format('a',b='b',c='c')

a b c
c b a
a c b
c a b

In [121]:
# 格式化可以按照{<field name>:<format>} 给定格式
from math import pi
'{0:10} {1:10d} {2:10.2f}'.format('foo',5,2*pi)

'foo                 5       6.28'

In [122]:
# 旧的格式化方式
'%s %f,%d' % ('some numbers:',pi,3)

'some numbers: 3.141593,3'

In [ ]:
# 查询字符串的内置函数
dir(s)

## 索引及分片

In [123]:
s = 'hello world'

In [128]:
print s[0]
print s[-1]

h
d
hello world
hello worl

In [135]:
# var[lower:upper:step] ,lower和upper即范围区间，[lower,upper)，step为步长
print s[:]
print s[0:]
print s[:-1]
print s[0:-1]
print s[0::2]
# step为复数表示从尾部往前
print s[::-1]

# 区间范围超过时不会报错
print s[100:]
print s[:100]

hello world
hello world
hello worl
hello worl
hlowrd
dlrow olleh

hello world

In [29]:
s = 'abcde'
print 'd' in s

True

# 列表List

In [47]:
a = [1,1,3,4,['hello','world']]
print a

[1, 1, 3, 4, ['hello', 'world']]

In [2]:
empty_list = []
print empty_list
empty_list = list()
print empty_list

[]
[]

In [6]:
a = [1,2,3]
b = ['hello','list']

print a + b
print a * 2

[1, 2, 3, 'hello', 'list']
[1, 2, 3, 1, 2, 3]

## 列表的索引和分片

In [9]:
a = [10,11,12,13,14]

print a[0]
print a[::]
print a[0:-1:2]

10
[10, 11, 12, 13, 14]
[10, 12]

In [18]:
a = [10,11,12,13,14]
a[0] = 100
print a[::]
a[1:3] = [111,122]
print a
# 对于step为1时，是整段替换，即将新数组直接插入当该位置
a[1:3] = [111,222,12,13]
print a
a[1:5] = [12,13]
print a

a[1:4:2] = [11,12]
print a

# 对于step不为1时，要修改的元素必须和给定的元素数量相同
#a[1:4:2] = [11]

[100, 11, 12, 13, 14]
[100, 111, 122, 13, 14]
[100, 111, 222, 12, 13, 13, 14]
[100, 12, 13, 13, 14]
[100, 11, 13, 12, 14]

In [20]:
len(a)

5

In [26]:
a = [1002,'a','b','c']
del a[0]
print a
a[0:1] = []
print a

del a[::]
print a

['a', 'b', 'c']
['b', 'c']
[]

In [28]:
a =  [10,11,12,13]
print 10 in a
print 9 not in a

True
True

In [46]:
a =  [10,11,12,13,11]

print a.count(11)

print a.index(11)

a.append(14)
print a
a.append([1,2])
print a
a.extend([3,4])
print a

a.insert(0,9)
print a

a.remove([1,2])
print a

print a.pop(-1)
print a

print 'after execute sorted',sorted(a)
print a
a.sort()
print a

a.reverse()
pr

2
1
[10, 11, 12, 13, 11, 14]
[10, 11, 12, 13, 11, 14, [1, 2]]
[10, 11, 12, 13, 11, 14, [1, 2], 3, 4]
[9, 10, 11, 12, 13, 11, 14, [1, 2], 3, 4]
[9, 10, 11, 12, 13, 11, 14, 3, 4]
4
[9, 10, 11, 12, 13, 11, 14, 3]
after execute sorted [3, 9, 10, 11, 11, 12, 13, 14]
[9, 10, 11, 12, 13, 11, 14, 3]
[3, 9, 10, 11, 11, 12, 13, 14]
[14, 13, 12, 11, 11, 10, 9, 3]
[14, 13, 12, 11, 11, 10, 9, 3]

# 元组 Tuple

In [48]:
t = (10,11,12,13,14)
t

(10, 11, 12, 13, 14)

In [51]:
print t[0:]

(10, 11, 12, 13, 14)

In [53]:
a = (10,)
print type(a)
b = (10)
print type(b)

<type 'tuple'>
<type 'int'>

In [55]:
a = [10,11,12,13]
t = tuple(a)
print type(t)
t

<type 'tuple'>

(10, 11, 12, 13)

In [63]:
t = (11,15,16,18)

print t.count(17)

print t.index(16)

0
2

# 字典 Dictionary

In [72]:
d = {'dogs':5,'cats':4}
d1 = dict([('dogs','7'),('cats',10)])
print d
print d1

{'cats': 4, 'dogs': 5}
{'cats': 10, 'dogs': '7'}

In [12]:
len(d)

2

In [13]:
d['dogs']

5

In [73]:
d = {'dogs':5,'cats':4}
d['dogs']=3
print d
d[0] = 4
print d

{'cats': 4, 'dogs': 3}
{0: 4, 'cats': 4, 'dogs': 3}

In [76]:
d1 = dict([('dogs',7),('cats',10)])
d1['dogs']+=20
d1

{'cats': 10, 'dogs': 27}

In [77]:
d_t = {}
d_t[('beijing','shanghai')] = 1008
d_t[('shanghai','beijing')] = 1006

print d_t[('beijing','shanghai')]
print d_t[('shanghai','beijing')]

1008
1006

In [84]:
d = {'dogs':5,'cats':4} 
#print d.get(k, default = None)
# 这里不能指定参数的名字，会报错
print d.get('sneak', None)


print d.pop('cats',None)

del d['dogs']
print d

None
4
{}

In [86]:
d = {'dogs':5,'cats':4} 

d.update({'dogs':13,'cats':0,'monkey':1})
print d

print 'monkey' in d

{'cats': 0, 'dogs': 13, 'monkey': 1}
True

In [88]:
d = {'dogs':5,'cats':4} 
print d.keys()
print d.values()
print d.items()

['cats', 'dogs']
[4, 5]
[('cats', 4), ('dogs', 5)]

# 集合Set

In [90]:
a = set()
s = set([1,2,3,4,3,1])
d = {1,1,1,2}
print a,s,d

set([]) set([1, 2, 3, 4]) set([1, 2])

In [99]:
a = {1,2,3,4}
b = {3,4,5,6}

print a & b , a.intersection(b)
print a | b , a.union(b)
print a - b , a.difference(b)
print b - a , b.difference(a)
# 不同时在a 和b中出现的元素
print a ^ b , a.symmetric_difference(b)

a = {1,2,3}
b = {1,2}

print b <= a , b.issubset(a)
print a >= b , a.issuperset(b)

# < 操作符可以判断是否是真子集，方法只能用于测试子集
print a < a,b < a
print a.issubset(a)

set([3, 4]) set([3, 4])
set([1, 2, 3, 4, 5, 6]) set([1, 2, 3, 4, 5, 6])
set([1, 2]) set([1, 2])
set([5, 6]) set([5, 6])
set([1, 2, 5, 6]) set([1, 2, 5, 6])
True True
True True
False True
True

In [ ]:
s