# 数字类型

## 整数

In [60]:
print 2+2

print 3-4

print 4*5

print 12/5

print 12.0/5

4
-1
20
2
2.4

In [27]:
# 幂指数，2的五次方
2**5

32

In [29]:
32%5

2

####  原地计算 In-place

In [74]:
b = 3
b+=2
print b
b *=2 
print b
b -=3
print b

5
10
7

In [30]:
type(32.0/5)

float

In [31]:
import sys

sys.maxint

2147483647

In [32]:
type(sys.maxint+1)

long

## 浮点数

In [34]:
3.4%2.1

1.2999999999999998

In [83]:
print 3.4-0.2

3.4-0.2

3.2

TypeError: object of type 'float' has no len()

In [37]:
'{:.52}'.format(3.4-0.2)

'3.199999999999999733546474089962430298328399658203125'

In [38]:
import sys

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [46]:
sys.float_info.max

1.7976931348623157e+308

#### 整除-> // ，返回比结果小的最大整数值

In [62]:

12.3 // 5.2

12.3 / -4

12.3 // -4

-4.0

## 复数 Complex Numbers

In [42]:
a = 1+2j
type(a)

complex

In [43]:
a.real

1.0

In [44]:
a.imag

2.0

In [45]:
a.conjugate()

(1-2j)

## 布尔类型 Boolean

In [77]:
q = True
p = False
print type(q)
print type(p)

<type 'bool'>
<type 'bool'>

In [80]:
print q > p
print q < p
print q >= p
print q <= p

True
False
True
False

In [81]:
print q == p
print q != p

False
True

####  链式比较

In [82]:
x = 2
1 < x <= 2

True

## 数字的其他表示方式

In [65]:
a = 1e-6
type(a)
print a

1e-06

In [68]:
 0xFF

255

In [72]:
# 八进制
0o67
067

55

In [73]:
# 二进制
0b11111111

255

## 内置数学函数

In [50]:
abs(-12.4)

12.4

In [58]:
print round(12.6)
print round(12.3)
print round(-12.6)
print round(-12.3)

13.0
12.0
-13.0
-12.0

In [55]:
print min(1,2,3,4)
print max(1,2,3,4)

1
4

In [57]:
print int(12.4)
print int(12.6)
print int(-3.14)
print int(-3.74)

12
12
-3
-3

In [59]:
print float(20)

20.0

# 字符串String

In [94]:
s = 'hello'
print s
s1 = "hello"
print s1
s2 = '''hell
o'''
print s2

hello
hello
hell
o

In [86]:
s + ' world'

'hello world'

In [87]:
print s
s += ' world'
print s

hello
hello world

In [89]:
s = 'hello'*3
s

'hellohellohello'

## 字符串api

In [ ]:
len(s)

In [92]:
lines = '1 2 3 4 5'
print lines.split()
lines = '1,'*5
print lines.split(',')

['1', '2', '3', '4', '5']
['1', '1', '1', '1', '1', '']

In [95]:
# join前的字符作为分隔符
s = ' '
print s.join(lines.split(','))
s = ','
print s.join(lines.split(','))

1 1 1 1 1
1,1,1,1,1,

In [98]:
s = 'hello world'
print s.replace('world','python2.7')
print s

hello python2.7
hello world

In [99]:
print s.upper()
print s.upper().lower()

HELLO WORLD
hello world

In [102]:
# strip去除左右两端的空格，l,r分别代表左边和后边
s = '  hello world   '
print s.strip()
print s.lstrip()
print s.rstrip()

hello world
hello world
  hello world

In [107]:
print str(1.1+2.2)
print repr(1.1+2.2)

3.3
3.3000000000000003

'3.3000000000000003'

In [112]:

# 将数字按照对应的进制转换为字符串
print 'convert number to str'
print hex(255)
print oct(255)
print bin(255)
print str(255)
print 'convert str to number'

# 将字符换按照对应的进制进行解释(第二个参数即当前字符串数字是什么进制表示的)，并转换为十进制
print int('11111111',2)
print int('FF',16)
print int('377',8)
print float('255')

convert number to str
0xff
0377
0b11111111
255
convert str to number
255
255
255
255.0

In [120]:
print '{} {} {}'.format('a','b','c')
print '{2} {1} {0}'.format('a','b','c')

print '{a} {c} {b}'.format(a='a',b='b',c='c')
# 混用的时候，索引必须从0开始
print '{c} {0} {b}'.format('a',b='b',c='c')

a b c
c b a
a c b
c a b

In [121]:
# 格式化可以按照{<field name>:<format>} 给定格式
from math import pi
'{0:10} {1:10d} {2:10.2f}'.format('foo',5,2*pi)

'foo                 5       6.28'

In [122]:
# 旧的格式化方式
'%s %f,%d' % ('some numbers:',pi,3)

'some numbers: 3.141593,3'

In [ ]:
# 查询字符串的内置函数
dir(s)

## 索引及分片

In [123]:
s = 'hello world'

In [128]:
print s[0]
print s[-1]

h
d
hello world
hello worl

In [135]:
# var[lower:upper:step] ,lower和upper即范围区间，[lower,upper)，step为步长
print s[:]
print s[0:]
print s[:-1]
print s[0:-1]
print s[0::2]
# step为复数表示从尾部往前
print s[::-1]

# 区间范围超过时不会报错
print s[100:]
print s[:100]

hello world
hello world
hello worl
hello worl
hlowrd
dlrow olleh

hello world

# 列表List

In [2]:
a = [1,2.0,'hello',5+1.0]
a

[1, 2.0, 'hello', 6.0]

In [3]:
a+a

[1, 2.0, 'hello', 6.0, 1, 2.0, 'hello', 6.0]

In [9]:
a[0:1]

[1]

In [7]:
len(a)

4

In [6]:
a.append('append')
a

[1, 2.0, 'hello', 6.0, 'append', 'append']

In [7]:
a[-1]

'append'

# 集合Set

In [11]:
s={1,2,3,4,5,1}
s

{1, 2, 3, 4, 5}

In [12]:
len(s)

5

In [14]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [15]:
a={1,2,3,4}
b={2,3,4,5}

In [16]:
a&b

{2, 3, 4}

In [17]:
a|b

{1, 2, 3, 4, 5}

In [18]:
a-b

{1}

In [20]:
a^b

{1, 5}

# 字典 Dictionary

In [11]:
d = {'dogs':5,'cats':4}
d

{'cats': 4, 'dogs': 5}

In [12]:
len(d)

2

In [13]:
d['dogs']

5

In [16]:
d['dogs']=3
d

{'cats': 4, 'dogs': 3}

In [17]:
d['pigs']=7
d

{'cats': 4, 'dogs': 3, 'pigs': 7}

In [18]:
d.keys()

['cats', 'dogs', 'pigs']

In [19]:
d.values()

[4, 3, 7]

In [20]:
d.items()

[('cats', 4), ('dogs', 3), ('pigs', 7)]