In [1]:
import pandas as pd
from pandas import Series,DataFrame

x1 = Series([1,2,3,4])
x2 = Series(data=[1,2,3,4],index = ['a','b','c','d'])
print x1
print x2

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [2]:
d = {'a':1,'b':2,'c':3,'d':4}
x3 = Series(d)
print x3

a    1
b    2
c    3
d    4
dtype: int64

In [5]:

data = {'Chinese':[66,95,93,90,80],'English':[65,85,92,22,90],'Math':[30,98,60,77,100]}
df1 = DataFrame(data)
df2 = DataFrame(data,index = ['ZhangSan','Lisi','WangWu','ZhaoLiu','XueQi'])
print df1
print df2

df2.to_excel("data.xlsx")

   Chinese  English  Math
0       66       65    30
1       95       85    98
2       93       92    60
3       90       22    77
4       80       90   100
          Chinese  English  Math
ZhangSan       66       65    30
Lisi           95       85    98
WangWu         93       92    60
ZhaoLiu        90       22    77
XueQi          80       90   100

In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
data = {'Chinese':[66,95,93,90,80],'English':[65,85,92,22,90],'Math':[30,98,60,77,100]}
df2 = DataFrame(data,index = ['ZhangSan','Lisi','WangWu','ZhaoLiu','XueQi'])


print(df2.drop(columns=['Chinese']))

print(df2.drop(index=['Lisi']))

          English  Math
ZhangSan       65    30
Lisi           85    98
WangWu         92    60
ZhaoLiu        22    77
XueQi          90   100
          Chinese  English  Math
ZhangSan       66       65    30
WangWu         93       92    60
ZhaoLiu        90       22    77
XueQi          80       90   100

In [7]:
# inplace直接原地修改
df2.rename(columns={'Chinese':'YuWen','English':'YingYu','Math':'ShuXue'},inplace=True)
print( df2)

None
          YuWen  YingYu  ShuXue
ZhangSan     66      65      30
Lisi         95      85      98
WangWu       93      92      60
ZhaoLiu      90      22      77
XueQi        80      90     100

In [13]:
data = {'Chinese':[66,95,93,90,80,80],'English':[65,85,92,22,90,90],'Math':[30,98,60,77,100,100]}
df2 = DataFrame(data,index = ['ZhangSan','Lisi','WangWu','ZhaoLiu','XueQi','HeiBa'])
print(df2)
#去除重复行
df2.drop_duplicates(inplace=True)
df2

          Chinese  English  Math
ZhangSan       66       65    30
Lisi           95       85    98
WangWu         93       92    60
ZhaoLiu        90       22    77
XueQi          80       90   100
HeiBa          80       90   100

          Chinese  English  Math
ZhangSan       66       65    30
Lisi           95       85    98
WangWu         93       92    60
ZhaoLiu        90       22    77
XueQi          80       90   100

In [25]:

data = {'Chinese':[66,95,93,90,80],'English':[65,85,92,22,90],'Math':[30,98,60,77,100]}
df1 = DataFrame(data,index = ['ZhangSan','Lisi','WangWu','ZhaoLiu','XueQi'])
print(df1.dtypes)

df2 = df1.astype({'Chinese':'str'})
print(df2.dtypes)

df3 = df1.astype({'English':np.int32})
print(df3.dtypes)

Chinese    int64
English    int64
Math       int64
dtype: object
Chinese    object
English     int64
Math        int64
dtype: object
Chinese    int64
English    int32
Math       int64
dtype: object

In [30]:
type(df1['Chinese'])

df1 = df1.astype({'Chinese':'str'})
# 使用 Series的map函数去除元素的空格
df1['Chinese'] = df1['Chinese'].map(str.strip)
# 去除元素中的$字符串
df1['Chinese'] = df1['Chinese'].str.strip('$')
df1['Chinese'] = df1['Chinese'].str.upper()
df1['Chinese'] = df1['Chinese'].str.lower()
# 元素首字母大写
df1['Chinese'] = df1['Chinese'].str.title()

In [36]:
data = {'Chinese':[66,95,93,90,None],'English':[65,85,92,22,90],'Math':[30,98,60,77,100]}
df1 = DataFrame(data,index = ['ZhangSan','Lisi','WangWu','ZhaoLiu','XueQi'])
print(df1)
# 哪些cell存在空值
print(df1.isnull())
# 哪些列存在空值
print(df1.isnull().any())

          Chinese  English  Math
ZhangSan     66.0       65    30
Lisi         95.0       85    98
WangWu       93.0       92    60
ZhaoLiu      90.0       22    77
XueQi         NaN       90   100
          Chinese  English   Math
ZhangSan    False    False  False
Lisi        False    False  False
WangWu      False    False  False
ZhaoLiu     False    False  False
XueQi        True    False  False
Chinese     True
English    False
Math       False
dtype: bool

## apply

In [51]:
data = {'name':['xiaoMing','LiSI','None'],'age':[18,20,50]}
df = DataFrame(data)

print(df['name'].apply(str.upper))
# 插入一个sex列，python原生str.upper()函数不能处理None值，但是pandas提供的st可以
df.insert(2,'sex',['male','female',None])
print(df)

df['name'] = df['name'].str.upper()

print(df)

0    XIAOMING
1        LISI
2        NONE
Name: name, dtype: object
       name  age     sex
0  xiaoMing   18    male
1      LiSI   20  female
2      None   50    None
       name  age     sex
0  XIAOMING   18    male
1      LISI   20  female
2      NONE   50    None

In [63]:
def double_df(x):
    return 2*x
df['age'].apply(double_df)

       name  age     sex
0  XIAOMING   18    male
1      LISI   20  female
2      NONE   50    None

In [66]:
data = {'姓名':['张飞','关羽','赵云','黄忠','典韦'],'语文':[66,95,93,90,None],'英语':[65,85,92,22,90],'数学':[30,98,60,77,100]}
df1 = DataFrame(data)
print(df1)


def plus(df,n,m):
    df['new1'] = (df[u'语文']+df[u'英语'])*m
    df['new2'] = (df[u'语文']+df[u'英语'])*n
    return df

df1.apply(plus,axis=1,args=(2,3))
print('--不接收返回值\n',df1)
df1 = df1.apply(plus,axis=1,args=(2,3))
print('--接收返回值\n',df1)
'''
apply函数不会改变原来DataFrame的内容。

使用自定义的函数，在函数里创建新的DataFrame的col，如果不将该df返回，是不会影响外部的DataFrame的。
这说明了python使用的是值传递，而不是引用传递
'''

   姓名    语文  英语   数学
0  张飞  66.0  65   30
1  关羽  95.0  85   98
2  赵云  93.0  92   60
3  黄忠  90.0  22   77
4  典韦   NaN  90  100
--不接收返回值
    姓名    语文  英语   数学
0  张飞  66.0  65   30
1  关羽  95.0  85   98
2  赵云  93.0  92   60
3  黄忠  90.0  22   77
4  典韦   NaN  90  100
--接收返回值
    姓名    语文  英语   数学   new1   new2
0  张飞  66.0  65   30  393.0  262.0
1  关羽  95.0  85   98  540.0  360.0
2  赵云  93.0  92   60  555.0  370.0
3  黄忠  90.0  22   77  336.0  224.0
4  典韦   NaN  90  100    NaN    NaN

In [4]:
df = DataFrame({'name':['zhangfei','guanyu','a','b','c'],'data1':range(5)})
print(df)
print(df.describe())

       name  data1
0  zhangfei      0
1    guanyu      1
2         a      2
3         b      3
4         c      4
          data1
count  5.000000
mean   2.000000
std    1.581139
min    0.000000
25%    1.000000
50%    2.000000
75%    3.000000
max    4.000000

## 合并DataFrame Merge

In [9]:
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'],'data1':range(5)})
df2 = DataFrame({'name':['ZhangFei', 'GuanYu', 'A', 'B', 'C'],'data2':range(5)})

print('--指定列进行连接--')
print(pd.merge(df1,df2,on='name'))

print('--内连接--')
print(pd.merge(df1,df2,how='inner'))

print('--左连接--')
print(pd.merge(df1,df2,how='left'))

print('--右连接--')
print(pd.merge(df1,df2,how='right'))

print('--外连接--')
print(pd.merge(df1,df2,how='outer'))

--指定列进行连接--
       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1
--内连接--
       name  data1  data2
0  ZhangFei      0      0
1    GuanYu      1      1
--左连接--
       name  data1  data2
0  ZhangFei      0    0.0
1    GuanYu      1    1.0
2         a      2    NaN
3         b      3    NaN
4         c      4    NaN
--右连接--
       name  data1  data2
0  ZhangFei    0.0      0
1    GuanYu    1.0      1
2         A    NaN      2
3         B    NaN      3
4         C    NaN      4
--外连接--
       name  data1  data2
0  ZhangFei    0.0    0.0
1    GuanYu    1.0    1.0
2         a    2.0    NaN
3         b    3.0    NaN
4         c    4.0    NaN
5         A    NaN    2.0
6         B    NaN    3.0
7         C    NaN    4.0

# SQL使用pandas

In [14]:
import pandas as pd
from pandas import DataFrame
from pandasql import sqldf,load_meat,load_births
df1 = DataFrame({'name':['ZhangFei', 'GuanYu', 'a', 'b', 'c'],'data1':range(5)})

pysqldf = lambda sql: sqldf(sql,globals())
sql = "select * from df1 where name = 'ZhangFei'"
print(pysqldf(sql))

       name  data1
0  ZhangFei      0

# 课后习题

## 个人解法

In [30]:

data = {'姓名':['张飞','关羽','赵云','黄忠','典韦','典韦'],'语文':[66,95,93,90,None],'英语':[65,85,92,22,90],'数学':[30,98,60,77,100]}
df1 = DataFrame(data)

def clean(x):
    if(x is None):
        return 0
    return x
print(df1)
df1 = df1.fillna(0)
print(df1)
df1[u'总分'] = df1.sum(axis=1)
print(df1)

   姓名    语文  英语   数学
0  张飞  66.0  65   30
1  关羽  95.0  85   98
2  赵云  93.0  92   60
3  黄忠  90.0  22   77
4  典韦   NaN  90  100
   姓名    语文  英语   数学
0  张飞  66.0  65   30
1  关羽  95.0  85   98
2  赵云  93.0  92   60
3  黄忠  90.0  22   77
4  典韦   0.0  90  100
   姓名    语文  英语   数学     总分
0  张飞  66.0  65   30  161.0
1  关羽  95.0  85   98  278.0
2  赵云  93.0  92   60  245.0
3  黄忠  90.0  22   77  189.0
4  典韦   0.0  90  100  190.0

C:\Users\admin\AppData\Local\Temp\ipykernel_20188\3818111841.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1[u'总分'] = df1.sum(axis=1)

## 参考后进行的改进

In [66]:
data = {'name':['张飞','关羽','赵云','黄忠','典韦','典韦'],'Chinese':[66,95,95,90,80,80],'English':[65,95,92,88,90,90],'Math':[None,98,96,77,90,90]}
df1 = DataFrame(data)
print('1.清除重复的行')
df1 = df1.drop_duplicates()
print(df1)
print('2.对空值做处理')
# 空值按照平均值来补全
for pair in df1.isnull().any().items():
    if pair[1]:
        df1[pair[0]] = df1[pair[0]].fillna(df1[pair[0]].mean(),axis=0)
# default_value = {'name':'无姓名','Chinese':0,'English':0,'Math':0}
# df1 = df1.fillna(default_value)
print(df1)   
print('3.计算总分')
df1[u'总分'] = df1.sum(axis=1)
print(df1)   
print('4.美化数据')
df1 = df1.sort_values(u'总分',ascending=False)
df2 = df1.rename(columns={'name':'姓名','Chinese':'语文','English':'英语','Math':'数学'})
print(df2)


print('5.使用pandasql实现美化数据')
pysqldf = lambda sql: sqldf(sql,globals())
sql = "select name As 姓名, Chinese As 语文,English AS 英语,Math AS 数学,总分 from df1 order by 总分 desc"
pysqldf(sql)

1.清除重复的行
  name  Chinese  English  Math
0   张飞       66       65   NaN
1   关羽       95       95  98.0
2   赵云       95       92  96.0
3   黄忠       90       88  77.0
4   典韦       80       90  90.0
2.对空值做处理
  name  Chinese  English   Math
0   张飞       66       65  90.25
1   关羽       95       95  98.00
2   赵云       95       92  96.00
3   黄忠       90       88  77.00
4   典韦       80       90  90.00
3.计算总分
  name  Chinese  English   Math      总分
0   张飞       66       65  90.25  221.25
1   关羽       95       95  98.00  288.00
2   赵云       95       92  96.00  283.00
3   黄忠       90       88  77.00  255.00
4   典韦       80       90  90.00  260.00
4.美化数据
   姓名  语文  英语     数学      总分
1  关羽  95  95  98.00  288.00
2  赵云  95  92  96.00  283.00
4  典韦  80  90  90.00  260.00
3  黄忠  90  88  77.00  255.00
0  张飞  66  65  90.25  221.25
5.使用pandasql实现美化数据

C:\Users\admin\AppData\Local\Temp\ipykernel_20188\2116375979.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1[u'总分'] = df1.sum(axis=1)

   姓名  语文  英语     数学      总分
0  关羽  95  95  98.00  288.00
1  赵云  95  92  96.00  283.00
2  典韦  80  90  90.00  260.00
3  黄忠  90  88  77.00  255.00
4  张飞  66  65  90.25  221.25